* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: min-content;
  height: inherit;
}

/*

HEADER

*/

.main--header {
  display: flex;
  grid-column: 1/6;
  height: 80px;
  width: 100%;
  background-color: white;
  border-bottom: black 1px solid;
}

.header--icon {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 10px;
}

.header--options {
  display: flex;
  width: 100%;
  align-items: center;
}

.header__option {
  line-height: 45px;
  text-align: center;
  vertical-align: middle;
  margin-left: 50px;
  overflow: hidden;
  cursor: pointer;
}

/*

BODY

*/

.main__body--entries::-webkit-scrollbar {
  display: none;
}

.main__body--entries {
  grid-column: 1/2;
  height: 100%;
  overflow: scroll;
  background: rgb(217, 230, 245);
  border-right: black 1px solid;
}

.body--entrie {
  display: flex;
  margin: 10px;
  justify-content: center;
  border-bottom: black 1px solid;
  cursor: pointer;
  padding: 10px 0;
}

.body--entrie:hover {
  background-color: rgb(175, 175, 175);
}

.main__body--results {
  grid-column: 2/6;
  background: white;
}
