* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: min-content;
  height: inherit;
}

/*

HEADER

*/

.main--header {
  display: flex;
  grid-column: 1/6;
  height: 80px;
  width: 100%;
  background-color: white;
  border-bottom: black 1px solid;
  background-color: black;
  color: white;
}

.header--icon {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.header--options {
  display: flex;
  width: 100%;
  align-items: center;
}

.header__option {
  line-height: 45px;
  text-align: center;
  vertical-align: middle;
  margin-left: 50px;
  overflow: hidden;
  cursor: pointer;
}

.header__option:hover {
  color: darkred;
  border-bottom: black 3px solid;
  border-radius: 10px;
}

/*

BODY

*/

.main__body--entries {
  grid-column: 1/2;
  height: 100%;
  overflow: scroll;
  background: rgb(217, 230, 245);
  border-right: black 1px solid;
  background-color: lightgrey;
}

.body--entrie {
  display: flex;
  margin: 10px;
  justify-content: center;
  border-bottom: black 1px solid;
  cursor: pointer;
  padding: 10px 0;
}

.body--entrie:hover {
  background-color: rgba(128, 128, 128, 0.418);
}

.main__body--results {
  grid-column: 2/6;
  display: flex;
  justify-content: center;
  background-image: url("https://i.pinimg.com/originals/9d/ee/07/9dee0784390c4d041be8473887a304cc.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.body--result {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.body__result--general-info {
  width: 90%;
  border-radius: 2rem;
  color: white;
  align-content: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  gap: 3rem;
}

.result--name {
  width: 15rem;
  font-size: 3rem;
  align-self: center;
  text-align: center;
}

.result--photo {
  max-width: 16em;
  max-height: 16em;
}

.map--photo2 {
  max-width: 80%;
  padding: 2rem;
}

.result--right-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-size: 3rem;
  align-self: center;
}

.right--container-role {
  display: flex;
  justify-content: center;
  align-items: center;
}

.result--description {
  width: 80%;
  text-align: justify;
  font-size: 1.3rem;
}

.result--role-icon {
  width: 5rem;
  height: 5rem;
}

.body__result--abilities-info,
.body__result--abilities-description,
.body__result--map-photo {
  width: 60%;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  align-items: center;
  color: white;
  margin-top: 2rem;
  background-color: rgba(0, 0, 0, 0.9);
}

.abilities--label {
  font-size: 3rem;
  margin-top: 1rem;
}

.abilities--icons {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  text-align: justify;

  gap: 4rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.abilitie--icon {
  width: 3rem;
  padding: 0.2rem;
  cursor: pointer;
}

.abilitie--icon:hover {
  background-color: rgba(255, 0, 0, 0.4);
  border-radius: 0.5rem;
}

.abilities--container {
  display: flex;
  justify-content: center;
}

.selected {
  background-color: red;
}

.result--coming-soon {
  font-size: 2rem;
}

/*

ERROR

*/

.error {
  max-width: 40rem;
  margin: 0 auto;
  padding: 5rem 1rem;
  display: flex;
  justify-content: center;
}

.error > div {
  display: flex;
  align-items: center; /* align vertical */
}

.error > div > img {
  height: 2.5rem;
  width: 2.5rem;
}

.error > p {
  margin-left: 0.8rem;
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 600;
  text-align: center;
  width: 100px;
}

/*

Helpers

*/

.active--option {
  color: red;
}

.active--abilitie {
  background-color: rgba(255, 0, 0, 0.8);
  border-radius: 0.5rem;
}

.active--entrie {
  background-color: rgba(128, 128, 128, 0.418);
}

.hidden {
  display: none;
}

/*

@Media

*/

@media (max-width: 1080px) {
  :root {
    font-size: 12px;
  }
}

@media (max-width: 750px) {
  :root {
    font-size: 8px;
  }
}

@media (max-width: 550px) {
  .body__result--general-info {
    flex-direction: column;
    align-items: center;
  }
  .result--description {
    width: 30%;
  }
  .result--role-icon {
    width: 3rem;
    height: 3rem;
  }
  .body__result--abilities-info {
    width: 90%;
  }
}

@media (max-width: 350px) {
  .header__option {
    margin-left: 25px;
  }
}
