* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: min-content;
  height: inherit;
}

/*

HEADER

*/

.main--header {
  display: flex;
  grid-column: 1/6;
  height: 80px;
  width: 100%;
  background-color: white;
  border-bottom: black 1px solid;
  background-color: black;
  color: white;
}

.header--icon {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 10px;
}

.header--options {
  display: flex;
  width: 100%;
  align-items: center;
}

.header__option {
  line-height: 45px;
  text-align: center;
  vertical-align: middle;
  margin-left: 50px;
  overflow: hidden;
  cursor: pointer;
}

.header__option:hover {
  color: darkred;
  border-bottom: black 3px solid;
  border-radius: 10px;
}

/*

BODY

*/

.main__body--entries::-webkit-scrollbar {
  display: none;
}

.main__body--entries {
  grid-column: 1/2;
  height: 100%;
  overflow: scroll;
  background: rgb(217, 230, 245);
  border-right: black 1px solid;
  background-color: darkolivegreen;
}

.body--entrie {
  display: flex;
  margin: 10px;
  justify-content: center;
  border-bottom: black 1px solid;
  cursor: pointer;
  padding: 10px 0;
}

.body--entrie:hover {
  background-color: rgb(57, 71, 31);
}

.main__body--results {
  grid-column: 2/6;
  background: white;
}

/*

ERROR

*/

.error {
  max-width: 40rem;
  margin: 0 auto;
  padding: 5rem 1rem;
  display: flex;
  justify-content: center;
}

.error > div {
  display: flex;
  align-items: center; /* align vertical */
}

.error > div > img {
  height: 2.5rem;
  width: 2.5rem;
}

.error > p {
  margin-left: 0.8rem;
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 600;
  text-align: center;
  width: 100px;
}

/*

Helpers

*/

.active--option {
  color: red;
}

.hidden {
  display: none;
}
